<!DOCTYPE html>
<html>
    <head>
        <title>
            Feature Requester
        </title>
        <script src="/static/js/knockout-3.4.0.js"></script>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/app-styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper" class="row">

            <div id="left-side" class="left">
                <h1>Create</h1>
                <div id="create">
                    {{form.title}}
                    {{form.description}}
                    <span class="left">Client &nbsp; {{form.client}}</span>
                    <span class="right">Priority &nbsp; {{form.priority}}</span>
                    {{form.target_date}}
                    {{form.ticket_url}}
                    {{form.product_area}}

                    <div id="add-feature" data-bind="click: createFeatureRequest">
                        Add Feature Request
                    </div>
                </div>
            </div>
            <!-- left-side -->


            <div id="right-side" class="right">
                <h1>View</h1>
                <div id="view">
                </div>
            </div>
            <!-- right-side -->

        </div>
        <!-- wrapper -->

        <script src="/static/js/jquery2.2.2.js"></script>
        <script src="/static/js/app-view-model.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>

</html>
