<!DOCTYPE html>
<html>
    <head>
        <title>
            Feature Requester
        </title>
        <script src="/static/js/knockout-3.4.0.js"></script>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/app-styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper" class="row">

            <div id="left-side" class="left">
                <h1>Create</h1>
                <div id="create">
                    {% include "left-side-form.html" %}
                </div>
            </div>
            <!-- left-side -->


            <div id="right-side" class="right">
                <h1>View</h1>
                <div id="view">
                    {% include "right-side-table.html" %}
                </div>
            </div>
            <!-- right-side -->

        </div>
        <!-- wrapper -->

        {% include "feedback-modal.html" %}

        <script src="/static/js/jquery2.2.2.js"></script>
        <script src="/static/js/app-view-model.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>

</html>
