#wrapper{
    margin: auto;
    overflow-y:auto;
    min-width: 902px;
    width: 902px
}
#left-side, #right-side{
    width: 50%;
    text-align:center;
}
.left{
    float: left;
}
.right{
    float: right;
}

#create, #view{
    background-color: #828596;
    padding:30px;
    height:430px;
}
#create{
    margin-right:5px;
}
#view{
    margin-left:5px;
    overflow: auto;
    padding: 8px;
}
#id_title, #id_description, #id_target_date,
#id_ticket_url, #id_product_area{
    width: 100%
}
#add-feature{
    font-size: 20px;
    background-color: #CAE6FF;
    border-radius: 3px;
    cursor:pointer;
    padding: 10px;
}
#add-feature:hover{
    background-color:#D7EBFD;
}
input,select, textarea{
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    padding: 8px;
}
#id_priority{
    width:114px;
}
#id_description{
    height:70px;
    resize: none;
}
#id_title:hover, #id_description:hover, #id_target_date:hover,
#id_ticket_url:hover, #id_product_area:hover, #id_client:hover,
#id_priority:hover{
    background-color:azure;
}
#id_title:focus, #id_description:focus, #id_target_date:focus,
#id_ticket_url:focus, #id_product_area:focus, #id_client:focus,
#id_priority:focus{
    background-color:antiquewhite;
}
#accept-button{
    border-radius: 4px;
    background-color: #151414;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: auto;
    padding: 4px;
    width: 50%;
}
#accept-button:hover{
    background-color: #292828;
}
#feedback-modal .modal-content{
    top: 100px;
}
#feedback-modal .modal-title{
    font-size: 24px;
    text-align: center;
}
#feedback-modal .message{
    color: blue;
    font-size: 16px;
    font-weight:600;
    margin-bottom: 12px;
    text-align: center;
}
table{
    font-size:11px;
}
