#wrapper{
    margin: auto;
    overflow-y:auto;
    width: 66%;
}
#left-side, #right-side{
    width: 50%;
    text-align:center;
}
#left-side{
    float: left;
}
#right-side{
    float: right;
}

#create, #view{
    background-color: #828596;
    padding:30px;
}
#id_title, #id_description, #id_target_date,
#id_ticket_url, #id_product_area{
    width: 100%
}
#add-feature{
    font-size: 20px;
    padding: 10px;
    background-color: azure;
    border-radius: 3px;
    cursor:pointer;
}
input{
    margin-bottom: 12px;
    border-radius: 2px;
    border: none;
    padding: 8px;
}
